{
	"CliCmd":"python ../bfalg-hello.py -o .",
	"PzAddrEnVar":"PZ_ADDR",
	"SvcName":"BF_Algo_HELLO_PY",
	"Description":"Draw a shape on top of your satellite image.",
	"APIKeyEnVar":"PZ_API_KEY",
	"PortEnVar":"PORT",
	"Attributes":{
		"SvcType":"beachfront",
		"Interface":"bf-hello",
		"version":"0.1"
	},
	"CanUpload": true,
	"CanDownlPz": true,
	"CanDownlExt": true,
	"RegForTaskMgr": true,
	"MaxRunTime": 450,
	"LocalOnly": false,
	"ExtRetryOn202":true,
	"DocURL":"https://github.com/bradymadden97/bfalg-hello/blob/master/README.md"
}