{
	"CliCmd":"python shape/shape.py",
	"VersionCmd":"python shape/shape.py -v",
	"PzAddrEnVar":"PZ_ADDR",
	"SvcName":"BF_Algo_SHAPE_PY",
	"Description":"Test algorithm for pz-flex and pzsvc-exec",
	"APIKeyEnVar":"PZ_API_KEY",
	"PortEnVar":"PORT",
	"Attributes":{
		"ImgReq - cloudCover":"10",
		"ImgReq - bands":"coastal,swir1",
		"SvcType":"beachfront",
		"Interface":"bfalg-shape",
		"version":"1.0"
	},
	"CanUpload": true,
	"CanDownlPz": true,
	"CanDownlExt": true,
	"RegForTaskMgr": true,
	"MaxRunTime": 450,
	"LocalOnly": false,
	"LogAudit": true,
	"ExtRetryOn202":true,
	"DocURL":"https://github.com/venicegeo/bfalg-shape/blob/master/README.md"
}